.page[b-cddauckdx4] {
    margin: 0px;
    padding: 0px;
}

main[b-cddauckdx4] {
    flex: 1;
    padding: 0px;
}

.sidebar[b-cddauckdx4]{
    background-color:white;
}

.user-info[b-cddauckdx4]{
    border-right: 1px solid lightgray;
}

.user-info-panel[b-cddauckdx4] {
    padding: 1.5rem;
    display: flex;
}

.user-info-panel .img[b-cddauckdx4]{
    overflow: hidden;
    border-radius: 100%;
}

.user-info-panel img[b-cddauckdx4]{
    width: 50px;
    height: 50px;
}

.sidebar[b-cddauckdx4]{
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.top-row[b-cddauckdx4] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-cddauckdx4]  a, .top-row .btn-link[b-cddauckdx4] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-cddauckdx4] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-cddauckdx4] {
        display: none;
    }

    .top-row.auth[b-cddauckdx4] {
        justify-content: space-between;
    }

    .top-row a[b-cddauckdx4], .top-row .btn-link[b-cddauckdx4] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-cddauckdx4] {
        flex-direction: row;
    }

    .sidebar[b-cddauckdx4] {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-cddauckdx4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-cddauckdx4], article[b-cddauckdx4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
