@using Company_Site.Data
@using Company_Site.Enum

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Company Site</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column px-3">
        <div class="nav-item my-2 text-start">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <p class="m-0">Dashboard</p>
            </NavLink>
        </div>
        <div class="nav-item my-2 text-start">
            <NavLink class="nav-link" href="/newacquisition" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <p class="m-0">New Acquisition</p>
            </NavLink>
        </div>
        <div class="nav-item my-2 text-start">
            <NavLink class="nav-link" href="/memomaster" Match="NavLinkMatch.All">
                <span class="fa fa-envelope me-2" aria-hidden="true"></span> <p class="m-0">Memo Master</p>
            </NavLink>
        </div>
        <div class="nav-item my-2 text-start">
            <NavLink class="nav-link" href="/memoeditor" Match="NavLinkMatch.All">
                <span class="fa fa-edit me-2" aria-hidden="true"></span> <p class="m-0">Memo Editor</p>
            </NavLink>
        </div>
        <div class="nav-item my-2 text-start">
            <NavLink class="nav-link" href="/vendors" Match="NavLinkMatch.All">
                <span class="fa fa-users me-2" aria-hidden="true"></span> <p class="m-0">Vendors</p>
            </NavLink>
        </div>
        @if(IsAdmin)
        {
                        <div class="nav-item my-2 text-start">
                <NavLink class="nav-link" href="admin">
                            <i class="fa fa-server me-3"></i> <p class="m-0">Admin Dashboard</p>
                </NavLink>
            </div>
        }
        <div class="nav-item my-2 text-start">
            <NavLink class="nav-link" href="logout">
                <i class="fa fa-lock me-3"></i> <p class="m-0">Logout</p>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [CascadingParameter(Name = "IsAdmin")]
    public bool IsAdmin { get; set; }

    [CascadingParameter(Name ="Pages")]
    public List<UserPages> Pages { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
