.navbar {
    transition: all 0.2s ease-in-out;
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.oi, .fa{
    color: black;
}

a{
    text-decoration: none;
}

a p{
    color: black;
}

.nav-item {
    font-size: 1.2rem;
    display: flex;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.active {
    background-color: #DDE9FE;
}

    .active p {
        color: #0157FF;
    }

    .active .fa,
    .active .oi {
        color: #0157FF;
    }

.nav-item p {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 150px;
}

.nav-item span {
    transition: all 0.2s ease-in-out;
    margin: 1px;
    overflow: hidden;
    padding: 10px;
}

.nav-item div{
    padding: 0px;
}

.collapsed{
    /*width: 5rem;*/
    overflow: hidden;
}

.collapsed a div p{
    width: 0px;
}

.collapsed a div{
    padding: 0px;
}

.collapsed a div span{
    margin-left: 10px;
    margin-right: 0px;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
