/* _content/Company Site/Pages/Admin/AdminDashboard.razor.rz.scp.css */
.border-bottom-1[b-hscf0vogua] {
    border-bottom: 1px solid black;
}

.select-box[b-hscf0vogua] {
    border-radius: 5px;
    margin: 0px 5px;
    padding: 5px 10px;
}

.roundedTextBox[b-hscf0vogua] {
    border-radius: 5px !important;
    border: 1px solid lightgray !important;
    padding: 5px;
}

    .roundedTextBox:focus[b-hscf0vogua] {
        outline: none;
    }

td[b-hscf0vogua], th[b-hscf0vogua] {
    text-align: center;
}
/* _content/Company Site/Pages/Components/LoginRedirect.razor.rz.scp.css */
.full-screen[b-hhpooac1pp]{
    width: 100%;
    height: 90vh;
    position: relative;
}

.center-screen[b-hhpooac1pp]{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.drop-shadow[b-hhpooac1pp] {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}
/* _content/Company Site/Pages/Components/MultiSelect.razor.rz.scp.css */
.multi-select[b-3nfkh5vk6s]{
    position: relative;
}

.select-box[b-3nfkh5vk6s] {
    max-height: 250px;
    position: absolute;
    top: 0%;
    z-index: 10;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    border: 1px solid lightgray;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.select-header[b-3nfkh5vk6s]{
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    margin-bottom: 2px;
    position: relative;
    height: 45px;
}

.select-header i[b-3nfkh5vk6s]{
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-100%, -50%);
}

.select-box-item[b-3nfkh5vk6s]{
    padding: 3px 10px;
    cursor: pointer;
}

.select-box-item input[type='checkbox'][b-3nfkh5vk6s]{
    cursor: pointer;
}

.select-box-item:hover[b-3nfkh5vk6s]{
    background: gray;
    color: white;
}

.select-header .option[b-3nfkh5vk6s]{
    padding: 5px 20px;
    background-color: lightgray;
}

.text-dark[b-3nfkh5vk6s] {
    color: black !important;
}
/* _content/Company Site/Pages/Components/RichTextEditor.razor.rz.scp.css */
.rich-text-editor-wrapper[b-85nmdx3pz4]{
    height: 250px;
    width: 100%;
    overflow: auto;
}
/* _content/Company Site/Pages/Components/Table.razor.rz.scp.css */
.table-wrapper[b-12yh34qg01] {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

table[b-12yh34qg01]{
    border-collapse: collapse;
}

th[b-12yh34qg01], td[b-12yh34qg01]{
    border: 1px solid lightgrey;
}

.btn-sortable[b-12yh34qg01] {
    color: gray;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 13px;
    transition: all ease-in-out 0.2s;
}

.btn-sortable:hover[b-12yh34qg01] {
    color: black;
}

.text-lightgray[b-12yh34qg01]{
    color: lightgrey;
}

.mouse-pointer[b-12yh34qg01]{
    cursor: pointer;
}
/* _content/Company Site/Pages/User/MemoEditor.razor.rz.scp.css */
fieldset[b-5ewobahw9o]{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.file-box[b-5ewobahw9o] {
    border: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.file-box .cancel-btn[b-5ewobahw9o]{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: lightgray;
    text-decoration: none;
    padding: 0 6px;
    opacity: 0;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
}
.file-box:hover .cancel-btn[b-5ewobahw9o]{
    opacity: 1;
}

.rich-editor-razor-wrapper[b-5ewobahw9o]{
    height: 250px;
    overflow-y: auto;
}
/* _content/Company Site/Pages/User/MemoView.razor.rz.scp.css */
fieldset[b-jr6ue2ld43] {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

a[b-jr6ue2ld43]{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

fieldset legend[b-jr6ue2ld43]{
    margin-bottom: 15px;
}

.comment-box[b-jr6ue2ld43] {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
}
/* _content/Company Site/Shared/AdminLayout.razor.rz.scp.css */
.page[b-y3fmicphz7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-y3fmicphz7] {
    flex: 1;
}

.sidebar[b-y3fmicphz7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-y3fmicphz7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-y3fmicphz7]  a, .top-row .btn-link[b-y3fmicphz7] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-y3fmicphz7] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y3fmicphz7] {
        display: none;
    }

    .top-row.auth[b-y3fmicphz7] {
        justify-content: space-between;
    }

    .top-row a[b-y3fmicphz7], .top-row .btn-link[b-y3fmicphz7] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y3fmicphz7] {
        flex-direction: row;
    }

    .sidebar[b-y3fmicphz7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-y3fmicphz7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-y3fmicphz7], article[b-y3fmicphz7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Company Site/Shared/AdminNavMenu.razor.rz.scp.css */
.navbar-toggler[b-4vej1re2mv] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-4vej1re2mv] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-4vej1re2mv] {
    font-size: 1.1rem;
}

.oi[b-4vej1re2mv] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-4vej1re2mv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-4vej1re2mv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-4vej1re2mv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-4vej1re2mv]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-4vej1re2mv]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-4vej1re2mv]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-4vej1re2mv] {
        display: none;
    }

    .collapse[b-4vej1re2mv] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/Company Site/Shared/MainLayout.razor.rz.scp.css */
.page[b-cddauckdx4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-cddauckdx4] {
    flex: 1;
}

.sidebar[b-cddauckdx4] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-cddauckdx4] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-cddauckdx4]  a, .top-row .btn-link[b-cddauckdx4] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-cddauckdx4] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-cddauckdx4] {
        display: none;
    }

    .top-row.auth[b-cddauckdx4] {
        justify-content: space-between;
    }

    .top-row a[b-cddauckdx4], .top-row .btn-link[b-cddauckdx4] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-cddauckdx4] {
        flex-direction: row;
    }

    .sidebar[b-cddauckdx4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-cddauckdx4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-cddauckdx4], article[b-cddauckdx4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Company Site/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-madu8pitlo] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-madu8pitlo] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-madu8pitlo] {
    font-size: 1.1rem;
}

.oi[b-madu8pitlo] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-madu8pitlo] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-madu8pitlo] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-madu8pitlo] {
        padding-bottom: 1rem;
    }

    .nav-item[b-madu8pitlo]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-madu8pitlo]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-madu8pitlo]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-madu8pitlo] {
        display: none;
    }

    .collapse[b-madu8pitlo] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
