.bg-gray[b-pe2eoguug6] {
    background-color: #C0C0C0;
}

.btn-list[b-pe2eoguug6]{
    padding: 50px;
}

.text-button-heading[b-pe2eoguug6] {
    color: #4D8AFF;
    font-size: 1.4rem;
}

.btn-selected[b-pe2eoguug6] {
    background-color: #EDF3FF;
    color: #4D8AFF;
}

.btn-list a[b-pe2eoguug6]{
    text-decoration: none;
    color: black;
    margin: 5px 0px;
    display: inline-block;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    width: 100%;
    padding: 10px;
}

.btn-list a:hover[b-pe2eoguug6] {
    background-color: #EDF3FF;
    color: #4D8AFF;
}