p[b-xwwcr866nd]{
	margin-bottom: 0px;
}

.table[b-xwwcr866nd]{
	width: 100%;
	height: 200px;
	border: 0px solid black;
}

fieldset[b-xwwcr866nd]{
	border-radius: 10px;
}

legend[b-xwwcr866nd]{
	position: relative;
	top: -28px;
	left: 10px;
	background-color: white;
	width: 70px;
}