body[b-0d4lq1jm2i] {
}

table[b-0d4lq1jm2i]{
	width: 100%;
	text-align: center;
}

tr[b-0d4lq1jm2i], td[b-0d4lq1jm2i], th[b-0d4lq1jm2i]{
	border: 1px solid lightgray;
}

td[b-0d4lq1jm2i], th[b-0d4lq1jm2i]{
	padding: 0.3rem 0rem;
}
