.nav-item {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

    .nav-item:hover {
        background-color: #DDE9FE;
    }

.active {
    background-color: #DDE9FE;
}

    .active a {
        color: #0157FF !important;
    }

.card p{
    font-size: 1rem;
}

.card-red {
    background-color: #E24A2A;
    color: black;
}

.card-green {
    background-color: #2FB153;
    color: black;
}

.card-blue {
    background-color: #396DE7;
    color: black;
}

.card-yellow {
    background-color: #F0B501;
    color: black;
}