.bg-gray {
    background-color: #C0C0C0;
}

.color-white{
    color: white !important;
}

.btn-list{
    padding: 5px 10px;
}

.bar-header{
    font-size: 1rem;
}

.btn-selected {
    background-color: #EDF3FF;
    color: #4D8AFF !important;
}

.btn-list a{
    text-decoration: none;
    color: black;
    margin: 5px 0px;
    display: inline-block;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    width: 100%;
    padding: 10px;
}

.btn-list a:hover {
    background-color: #EDF3FF;
    color: #4D8AFF;
}