@page "/vdr"

<p class="fw-bold text-button-heading mb-2">VDR</p>

<div class="card py-3 px-4">
    <div class="row align-items-center">
        <div class="col-6">
            <h5 class="mb-0">All Files</h5>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="btn btn-outline-primary">
                Upload File
            </a>
        </div>
    </div>
    <div class="mt-3">
        <table class="data-table">
            <tr>
                <th>
                    <div>
                        SR
                    </div>
                </th>
                <th>
                    <div>
                        Folder Name
                    </div>
                </th>
                <th>
                    <div>
                        Created On
                    </div>
                </th>
                <th>
                    <div>
                        Created By
                    </div>
                </th>
                <th>
                    <div>
                        Size
                    </div>
                </th>
                <th>
                    <div>
                        Manage
                    </div>
                </th>
            </tr>
            <tr class="file-row">
                <td>
                    <div>
                        1
                    </div>
                </td>
                <td>
                    <div>
                        <p class="mb-0 file-name">Logos Presentation</p>
                        <p class="mb-0 file-extension">.pptx</p>
                    </div>
                </td>
                <td>
                    <div>
                        12-Jan-2022
                    </div>
                </td>
                <td>
                    <div>
                        Harshal Gandhi
                    </div>
                </td>
                <td>
                    <div>
                        25.7Mb
                    </div>
                </td>
                <td>
                    <div class="btn-row">
                        <a class="row-btn"><i class="fa fa-edit"></i></a>
                        <a class="row-btn"><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            <tr class="file-row">
                <td>
                    <div>
                        2
                    </div>
                </td>
                <td>
                    <div>
                        <p class="mb-0 file-name">Logos Presentation</p>
                        <p class="mb-0 file-extension">.pptx</p>
                    </div>
                </td>
                <td>
                    <div>
                        12-Jan-2022
                    </div>
                </td>
                <td>
                    <div>
                        Harshal Gandhi
                    </div>
                </td>
                <td>
                    <div>
                        25.7Mb
                    </div>
                </td>
                <td>
                    <div class="btn-row">
                        <a class="row-btn"><i class="fa fa-edit"></i></a>
                        <a class="row-btn"><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            <tr class="file-row">
                <td>
                    <div>
                        3
                    </div>
                </td>
                <td>
                    <div>
                        <p class="mb-0 file-name">Logos Presentation</p>
                        <p class="mb-0 file-extension">.pptx</p>
                    </div>
                </td>
                <td>
                    <div>
                        12-Jan-2022
                    </div>
                </td>
                <td>
                    <div>
                        Harshal Gandhi
                    </div>
                </td>
                <td>
                    <div>
                        25.7Mb
                    </div>
                </td>
                <td>
                    <div class="btn-row">
                        <a class="row-btn"><i class="fa fa-edit"></i></a>
                        <a class="row-btn"><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>

