.data-table{
	width: 100%;
	margin-top: 2rem;
}

a {
    cursor: pointer;
}

    .data-table th {
    }

        .data-table th div {
            height: 40px;
            background-color: #ededed;
            width: 100%;
            border-radius: 20px;
            display: flex;
            padding: 0px 10px;
            align-items: center;
            color: gray;
            justify-content: center;
        }

.file-row{
    border-bottom: 1px solid lightgray;
}



    .file-row div {
        margin: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
    }

    .file-row div .file-name{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .file-row div .file-extension{
        color: #ababab;
    }

.btn-row{
    display: flex;
    justify-content: center;
}

.files-container{
    max-height: 400px;
    overflow-y: scroll;
}

.row-btn{
    border: 1px solid dodgerblue;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

        .row-btn:hover{
            background-color: dodgerblue;
            color: white;
            transform: scale(1.1, 1.1);
        }


.file-item {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5px 10px;
    margin: 10px 0px;
    background-color: white;
    overflow: hidden;
}

    .file-item p{
        overflow-wrap: break-word;
        width: 330px;
    }

    .file-item a{
        margin: 0px 10px;
        border: 1px solid black;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        padding: 5px 10px;
        cursor: pointer;
    }

    .file-item a:hover{
        background-color: black;
    }

        .file-item a i {
            color: black;
        }

    .file-item a:hover i{
        color: white;
    }

.file-upload-box {
    height: 150px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    color: #b6b6b6;
    transition: all 0.2s ease-in-out;
}

.file-upload-box:hover{
    color: black;
    border: 1px solid black;
}


        .progress-bar-container{
            height: 10px;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            background-color: #dedede;
        }

    .progress-bar{
        background-color: dodgerblue;
        height: 10px;
    }

    

    .no-wrap{
        white-space: nowrap;
    }

.btn-secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

    .btn-secondary:hover {
        background-color: #333333 !important;
        border-color: #333333 !important;
    }