body {
}

.calendar-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.day-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    border: 1px solid #ededed;
    height: 55px;
}

.day-header{
    font-weight:bold;
    font-size: 1rem;
}

.day-item{
    position: absolute;
    top: 0%;
    left: 0%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.day-item:hover{
    transform: scale(1.05, 1.05);
}

.day-item-number{
    margin: 5px;
    font-size: 1rem;
}

.weekend {
    color: #cc0000;
}

.day-item-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.day-task {
    width: 15px;
    height: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    padding: 0px 6px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-data-color {
    color: #1a68ff;
}

.task-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.day-task:hover {
    width: 200px;
    height: auto;
    border-radius: 4px;
    background-color: white;
}

.task-title-container {
    display: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 5px 0px 5px 0px;
    border-radius: 4px;
    padding: 0px 5px;
    transition: all 0.2s ease-in-out;
}

    .day-task:hover .task-title-container{
        display: block;
    }

.day-task:hover .task-title-container:hover {
    transform: scale(1.06, 1.06);
}

.btn-control{
    width: 40px !important;
    height: 40px !important;
    font-size: 1.3rem;
    padding: 0.3rem;
}

.month-row{
    display: flex;
}

.month-item {
    border: 1px solid #ededed;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

        .month-item:hover{
            transform: scale(1.05, 1.05);
        }