body {
}

.main-container{
    position: absolute;
    cursor: pointer;
    top: 7px;
}

.checkbox-container {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 5px;
}

.icon{
	position: relative;
	top: 0px;
	left: 0px;
    width: 15px;
    height: 15px;
    margin: -2px -14px;
	color: white;
}