.accordion-header {
    border: 1px solid #DDE9FE;
    padding: 10px;
    border-radius: 7px;
}

.accordion-button{
	padding: 0px;
}

.accordion-button:{
    border: 0px;
    outline: none;
}

.accordion-button:not(.collapsed){
    background-color: white;
    box-shadow: none !important;
}

.accordion{
    margin-left: 1rem;
    margin-right: 1rem;
}