<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-@Id" aria-expanded="false" aria-controls="flush-collapseOne">
          @Title
      </button>
    </h2>
    <div id="flush-collapseOne-@Id" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          @ChildContent
      </div>
    </div>
  </div>
</div>