body {
}

.contacts {
    max-width: 300px;
    height: 100%;
}

.roundedTextBox{
    height: 30px;
}

.contact {
    padding: 0.8rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #eee;
}

    .contact:hover {
        transform: scale(1.03, 1.03);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

.btn-delete {
    position: absolute;
    right: 10px;
    bottom: 6px;
}

.scrollable{
    overflow: scroll;
}

.header-item{
    height: 55px;
    background-color: white;
    margin-bottom: 1.7rem;
}

.items-list{
    max-height: 500px;
    width: 100%;
}

.item-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
