body {
}

.contacts {
    height: 100%;
}

.roundedTextBox{
    height: 30px;
}

.contact {
    padding: 0.8rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #dedede;
}

    .contact:hover {
        transform: scale(1.03, 1.03);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

.header-primary {
    color: #4d8aff;
    font-size: 1.1rem;
    font-weight: bold;
}

.description{
    font-size: 0.9rem;
}

.card{
    margin-bottom: 0px;
}

.btn{
    width: 40px;
    padding: 10px;
}

.btn-delete {
    position: absolute;
    right: 10px;
    bottom: 6px;
}

.scrollable{
    overflow-y: scroll;
    overflow-x: hidden;
}

.header-item{
    height: 55px;
    background-color: white;
    margin-bottom: 1.7rem;
}

.items-list{
    max-height: 500px;
    width: 100%;
}

.item-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
