body[b-3xgbuq7h4v] {
}

.contacts[b-3xgbuq7h4v] {
    max-width: 300px;
    height: 100%;
}

.roundedTextBox[b-3xgbuq7h4v]{
    height: 30px;
}

.contact[b-3xgbuq7h4v] {
    padding: 0.8rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #eee;
}

    .contact:hover[b-3xgbuq7h4v] {
        transform: scale(1.03, 1.03);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

.btn-delete[b-3xgbuq7h4v] {
    font-size: 0.7rem;
}
