@page "/debtprofile"
@using Company_Site.Pages.Components

<div class="px-5">

    <h3>Debt Profile</h3>

    <EditForm Model="Details" OnValidSubmit="Save">

        <DataAnnotationsValidator/>

        <MultiErrorView Errors="_errors"/>

       ctText @bind-Value=Details.DD_Official id="ddOff" class="form-control" type="text"/>
            </div>
        </div>
        <div class="row">
                <div class="col-md-2">
                    <label for="lenderName">Lender Name</label>
                    <input id="lenderName" class="form-control" type="text">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="facility">Facility</label>
                    <input id="facility" class="form-control" type="text">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="accNum">Account Number</label>
                    <input id="accNum" class="form-control" type="text">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="npaDate">NPA Date</label>
                    <input id="npaDate" class="form-control" type="date">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="pos">POS</label>
                    <input id="pos" class="form-control" type="number">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="osInterest">O/S Interest</label>
                    <input id="osInterest" class="form-control" type="number">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="baseInterest"> Base Interest</label>
                    <input id="baseInterest" class="form-control" type="number">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="spread">Spread</label>
                    <input id="spread" class="form-control" type="number">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="calculation">Calculation</label>
                    <select id="calculation" class="form-select">
                        <option value="simple">Simple</option>
                        <option value="compound">Compound</option>
                    </select>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="frequency">Frequency</label>
                    <select id="frequency" class="form-select">
                        <option value="monthly">Monthly</option>
                        <option value="quarterly">Quarterly</option>
                        <option value="annually">Annually</option>
                    </select>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="penalAmount">penalAmount</label>
                    <input id="penalAmount" class="form-control" type="number">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="penalInterest">Penal Interest</label>
                    <input id="penalInterest" class="form-control" type="number">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="tenor">Tenor(Months)</label>
                    <input id="tenor" class="form-control" type="number">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="posAsOn">POS As On</label>
                    <input id="posAsOn" class="form-control" type="date">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="label1">Label-1</label>
                    <input id="label1" class="form-control" type="text">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="status">Status</label>
                    <select id="status" class="form-select">
                        <option value="active">Active</option>
                        <option value="restructured">Restructured</option>
                        <option value="settled">Settled</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="note">Note</label>
                    <input id="note" class="form-control" type="text">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="emiInstallment">EMI Installment</label>
                    <input id="emiInstallment" class="form-control" type="number">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="emiOS">EMI O/S</label>
                    <input id="emiOS" class="form-control" type="number">
                </div>
            </div>
        <div class="row">
            <div class="col-md-2">
                <label for="mod">Modification</label>
                <label class="form-control">@Details.Modification</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label for="modDate">Modification Date</label>
                <label class="form-control">@Details.ModificationDate.ToString("dd/mm/yyyy")</label>
            </div>
        </div>
        <p class="text-center my-3">
            <a class="btn btn-danger px-3 py-2 me-2" @onclick=Cancel>Cancel</a>
            <input type="submit" value="Save" class="btn btn-primary"/>
        </p>
    </EditForm>
</div>
