@using Company_Site.Base;
@using Company_Site.Data;
@using Company_Site.Pages.Components;
@using Company_Site.Pages.User

@inherits BaseAddPage<NoticeAutomationModel, int>

<CollapsibleContainer Title="Notice Automation">
    <div class="mx-2">
        <EditForm Model="NewEntry" OnValidSubmit="Save" class="my-1">

            <DataAnnotationsValidator/>

            <MultiErrorView Errors="_errors"/>

            <div class="row">
                <div class="col-md-3">
                    <label for="noticeType">Notice Type</label>
                    <InputText @bind-Value="NewEntry.NoticeType" type="text" id="noticeType" class="form-control"/>
                    <ValidationMessage For=@(() => NewEntry.NoticeType) />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="noticeFormat">Notice Format</label>
                    <InputSelect @bind-Value="NewEntry.FormatName" type="text" id="noticeFormat" class="form-select">
                        <option value="" selected>--- Select Format ---</option>
                    </InputSelect>
                </div>
            </div>

            <hr class="my-4"/>

            <div class="row mt-3" style="">
                <div class="col-md-5">
                    <div style="width: 100%">
                        <ContactList Enteries="Enteries" ShouldRenderFragment=true Title="Drafts" GetContactId="@(e => e.Id.ToString())" GetContactName="@(e => e.NoticeFormat)" OnClick="Edit" OnDelete="Delete"/>
                    </div>
                </div>
                <div class="col-md-1 col-md-6">
                    <RichTextEditor @bind-Value=NewEntry.NoticeFormat></RichTextEditor>
                    <p class="text-center mt-2">
                        <a class="btn btn-danger mx-1" @onclick=Clear>Clear</a>
                        <input type="submit" class="btn btn-primary mx-1" value="@(ShouldAdd ? "Save Draft" : "Edit Draft")" />
                        <a class="btn btn-outline-primary mx-1">Download as Word</a>
                    </p>
                </div>
            </div>

        </EditForm>
    </div>
</CollapsibleContainer>

