@page "/login"
@model Company_Site.Areas.Identity.Pages.LoginModel

<div class="container-lg position-relative full-screen">

	<div class="text-center login-shadow p-4">

		<div>

			<h3 class="mb-3 heading normal-text">Login</h3>
			<p class="tagline">Welcome back! Log in to your account</p>

			<form method="post">

				<div class="d-flex justify-content-center">
					@Html.ValidationSummary("", new { @class="text-danger" })
				</div>

				<div>
					<input type="text" asp-for="@Model.returnUrl" class="d-none"/>
				</div>

				<div class="input-container mb-3">
				  <label for="email" class="form-label normal-text">Email Address</label>
				  <div class="input-control">
					  <i class="fa fa-envelope normal-text"></i>
					  <input type="email" class="form-control normal-text" id="email" placeholder="Test@gmail.com" asp-for="@Model.Input.Email"/>
				  </div>
				</div>

				<div class="d-flex justify-content-center mt-2">
					<input class="btn btn-outline-primary normal-text" value="Next" type="submit"/>
				</div>

			</form>

		</div>

	</div>

</div>

