@page "/password-login"
@model Company_Site.Areas.Identity.Pages.Shared.PasswordLoginModel

<div class="container-lg position-relative full-screen">

	<div class="text-center login-shadow p-4">

		<div>

			<h3 class="mb-3 heading">Login</h3>
			<p class="tagline">Welcome back! Log in to your account</p>

			<form method="post">

				<div class="d-flex justify-content-center">
					@Html.ValidationSummary("", new { @class="text-danger" })
				</div>

				<div>
					<input type="text" asp-for="@Model._returnUrl" class="d-none"/>
					<input type="text" asp-for="@Model._email" class="d-none"/>
				</div>

				<div class="input-container mb-3">
				  <label for="password" class="form-label">Password</label>
				  <div class="input-control">
					  <i class="fa fa-key"></i>
					  <input type="password" class="form-control input-control" id="password" asp-for="@Model.PasswordModel.Password"/>
				  </div>
				</div>

				<div class="d-flex justify-content-center mt-2">
					<input class="btn btn-outline-primary" value="SIGN IN" type="submit"/>
				</div>

			</form>

		</div>

	</div>

</div>